<div id="menubar">

  <ul id="menubar_menus">
    <li> 
      structures
      <ul>
        <li><a href="/"> ∃∧(∃.Δ >>> ∃.Δ) </a></li>
        <li><a href="/user"> .map (V(\.\ >>> \)) .../∃/... </a></li>
        <li><a href="/life"> ∃∧(∃.Δ >>> Δ(∃.Δ([Δ]))) </a></li>
        <li><a href="/test"> V: ?: E(V(E)) === E(V(E))) </a></li>
      </ul>
    </li>

    <li id="menubar_user">
      user
      <ul>
        <li><a href="user"> .map (V(\.\ >>> \)) .../∃/... </a></li>
        <li><a href="user/edit-article"> ∃(V(V)) >-> ■ </a></li>
        <li><a href="user/user-config"> ?: ∃ </a></li>
        <li><a href="user/auth"> ?: ∃ === ∃ </a></li>
      </ul>
    </li>

    <li id="menubar_tests">
      tests
      <ul>
        <li><a href="/test/html"> ◇↑ </a></li>
        <li><a href="/test/response-request"> V(E) >>> V(V(E)) </a></li>
      </ul>
    </li>

    <li id="menubar_style">
      style
      <ul>
        <li> lemmic_nightnare </li>
        <li> lemmic_daytime </li>
        <li> default 
          <ul> 
            <li> nightmare </li>
            <li> daytime </li>
          </ul>
        </li>
      </ul>
    </li>
    <!--% test menubar_menu :: \_ -> insert (_ << ./test_menubar_menu.html) -->
  </ul>
</div>
  
