<div id="menubar">
  <ul id="menubar_menus">
    <li> this is menubar </li>
    <li id="menubar_user">
      user_menu
    </li>
    
    <li id="menubar_style">
      style
      <ul>
        <li> lemmic_nighttime </li>
        <li> lemmic_daytime </li>
        <li>
          normal
          <ul>
            <li> nighttime </li>
            <li> 
              this_is_menu_menu_test: 1
              <ul>
                <li> 1 </li>
                <li> 2 </li>
                <li> 
                  this_is_menu_menu_test: 1-1
                  <ul>
                    <li> 1 </li>
                    <li> 2 </li>
                    <li> 
                      this_is_menu_menu_test: 1-1-1
                      <ul>
                        <li> 1 </li>
                        <li> 2 </li>
                        
                        <li> 3 </li>
                        <li> 4 </li>
                      </ul>
                    </li>
                    <li> 
                      this_is_menu_menu_test: 1-1-2
                      <ul>
                        <li> 1 ************************************************************************* </li>
                        <li> 2 </li>
                        
                        <li> 3 </li>
                        <li> 4 </li>
                      </ul>
                    </li>
                    <li> 3 </li>
                    <li> 4 </li>
                  </ul>
                </li>
                <li> 3 </li>
                <li> 4 </li>
              </ul>
            </li>
            <li> daytime </li>
          </ul>
        </li>
      </ul>
    </li>
  </li>
  
</div>

