@charset "UTF-8";

/* https://github.com/i-makinori/lem/blob/master/lib/core/color-theme.lisp */


:root{

  /*
  // dark
  
  --forground: #ffffff;
  --display-background-mode: #000000;
  --syntax-comment-attribute: #ff7f24;
  --syntax-keyword-attribute: #00ffff;
  --syntax-string-attribute: #fa8072;
  --syntax-function-name-attribute: #87cefa;
  --region: #0000ff;
  --mode-line: #666666;

  // --syntax-constant-attribute: lightsteelblue;
  //  --syntax-variable-attribute: #eedd82;
  //  --syntax-type-attribute: palegreen;
 */
  
  // light
  /*
  ((DISPLAY-BACKGROUND-MODE :LIGHT) (MINIBUFFER-PROMPT-ATTRIBUTE :FOREGROUND "blue" :BOLD-P T)
  (REGION :FOREGROUND NIL :BACKGROUND "#eedc82") (MODELINE :BACKGROUND "#666666" :FOREGROUND "white")
  (MODELINE-INACTIVE :BACKGROUND "#666666" :FOREGROUND "gray")
  (SYNTAX-STRING-ATTRIBUTE :FOREGROUND "RosyBrown") (SYNTAX-COMMENT-ATTRIBUTE :FOREGROUND "firebrick")
  (SYNTAX-KEYWORD-ATTRIBUTE :FOREGROUND "purple") (SYNTAX-CONSTANT-ATTRIBUTE :FOREGROUND "#ff00ff")
  (SYNTAX-FUNCTION-NAME-ATTRIBUTE :FOREGROUND "blue")
  (SYNTAX-VARIABLE-ATTRIBUTE :FOREGROUND "darkgoldenrod")
  (SYNTAX-TYPE-ATTRIBUTE :FOREGROUND "forestgreen"))
 */

  --forground: #000000;
  --display-background-mode: #ffffff;
  --syntax-comment-attribute: #9f3232;
  --syntax-keyword-attribute: #0645ad;
  --syntax-string-attribute: #9f6666;
  --syntax-function-name-attribute: #0b0080;
  --region: #eedc82;
  --mode-line: #cccccc;

  
  --emphasis: #e40c2b;
  --hover-fill: #0000ff;
  

  --font-size: 16px;
  --mode-line-height: 16px;
  --padding-width: 2px 4px 2px 4px;
  
  // --buffer-left: 5px solid #333333;
  --buffer-left: 5px solid #999999;

}


/* blobs */
* {
  color: var(--forground);
  font-size: var(--font-size);
  margin: 0; border:0; padding: 0;
}


/* forms */
form {
  border: 1px solid var(--syntax-string-attribute);
  padding: 2px;
}

input, textarea, button{
  background-color: var(--display-background-mode);
  border: 1px solid var(--syntax-string-attribute);
}

input:focus, textarea:focus, button:active{
  border: 1px solid var(--emphasis);
}

input:hover textarea:hover, button:hover {
  background-color: var(--region);
}

/* table */

table {
  border-spacing: 0px;
}

th, td {
  padding: 1px;
  border: 1px solid var(--syntax-string-attribute);
}

th:hover, td:hover {
  padding: 1px;
  border: 1px solid var(--emphasis);
}


/* buffer */
body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

div.buffer > div {
  margin-bottom: var(--font-size);
}


/* region */
::selection{
  background-color: var(--region);
}

/* comments */
h1,h2,h3,h4,h5,h6{
  color: var(--syntax-comment-attribute);
}

h1::before{content: ";;;;";}
h2::before, h3::before{content: ";;;";}
h4::before, h5::before{content: ";;";}
h6::before{content: ";";}

/* defdefine */
a { 
  border: 1px;
}

a:hover::after {
  content: attr(href);
  
  position: relative;
  top: var(--mode-line-height);
  left: 0px;
  padding: 2px;

  color: var(--forground);
  background-color: var(--mode-line);

}

a:link {
  color: var(--syntax-keyword-attribute);
}
a:visited {
  color: var(--syntax-function-name-attribute);
}
a:hover {
  border: 1px solid var(--syntax-string-attribute);
}

#main {
  text-align: center;
}

/* cursor */



/* list-params */
li{
  border: 1px solid transparent;
}

ul:hover > li:hover{
  /* border: 1px solid var(--syntax-string-attribute);*/
}



/* layout */

html, body{
  height: 100%;
  width:100%;
  margin:0; padding:0; border:0;
  overflow: hidden;
  background-color: var(--display-background-mode);
}

div{
  margin:0; padding:0; border:0;
}

div#frame{
  height:100%;
  width:100%;
}

div#menubar{
  position: fixed;
  height: var(--mode-line-height);
  top: 0; left: 0; right: 0;
  background-color: var(--mode-line);
}

div#minibuffer{
  position: fixed;
  margin: 0;
  height: var(--mode-line-height);
  bottom: 0; left: 0; right: 0;
  background-color: var(--display-background-mode);
  border-left: var(--buffer-left);
}

div#window-list{
  height: 100%;
  width: 100%;
  padding-top: var(--mode-line-height);
  padding-bottom: var(--mode-line-height);
}

div.window{
  height: 100%;
  margin: 0;
}

div.buffer{
  border-left: var(--buffer-left);
  margin-bottom: var(--mode-line-height);
  /* */
  height: 100%;
  overflow-y: auto;
}

div.buffer::after{
  content: '\A\A\A';
  white-space: pre;
}

div.modeline{
  position: fixed;
  margin:0; padding:0;
  height: var(--mode-line-height);
  bottom: var(--mode-line-height);
  right: 0; left:0;
  background-color: var(--mode-line);
}


/* menubar */


div#menubar ::selection{
  background-color: var(--syntax-function-name-attribute);
}

div#menubar ul{
  display: table-cell;
  position: absolute;
}

div#menubar li{
  min-width: 200px;

  border-left: 1px solid var(--emphasis);
  border-right: 1px solid var(--emphasis);
  /*background-color: var(--region);*/
  background-color: var(--mode-line);
  list-style: none;

  float:left;
}

div#menubar li:hover{
  background-color: var(--region);
}
div#menubar li::selection{
  background-color: var(--emphasis);
}

div#menubar li > ul {
  display: none;
}

div#menubar li:hover > ul{
  width: 0;
  height: 100%;
  margin-left: 30px;
  display: table-cell;
}


ul#menubar_menus {
  width: 100%;
}

div#menubar > ul#menubar_menus > li:hover > ul{
  margin-left:-1px;
}
