@charset "UTF-8";

/* https://github.com/i-makinori/lem/blob/master/lib/core/color-theme.lisp */


:root{
  
  --forground: #ffffff;
  --display-background-mode: #000000;
  --syntax-comment-attribute: #ff7f24;
  --syntax-keyword-attribute: #00ffff;
  --syntax-string-attribute: salmon;
  --syntax-function-name-attribute: lightskyblue;
  --region: blue;
  --mode-line: #666666;
  
  /*
  // dark

  --syntax-constant-attribute: lightsteelblue;
  --syntax-variable-attribute: #eedd82;
  --syntax-type-attribute: palegreen;

  // light
  ((DISPLAY-BACKGROUND-MODE :LIGHT) (MINIBUFFER-PROMPT-ATTRIBUTE :FOREGROUND "blue" :BOLD-P T)
  (REGION :FOREGROUND NIL :BACKGROUND "#eedc82") (MODELINE :BACKGROUND "#666666" :FOREGROUND "white")
  (MODELINE-INACTIVE :BACKGROUND "#666666" :FOREGROUND "gray")
  (SYNTAX-STRING-ATTRIBUTE :FOREGROUND "RosyBrown") (SYNTAX-COMMENT-ATTRIBUTE :FOREGROUND "firebrick")
  (SYNTAX-KEYWORD-ATTRIBUTE :FOREGROUND "purple") (SYNTAX-CONSTANT-ATTRIBUTE :FOREGROUND "#ff00ff")
  (SYNTAX-FUNCTION-NAME-ATTRIBUTE :FOREGROUND "blue")
  (SYNTAX-VARIABLE-ATTRIBUTE :FOREGROUND "darkgoldenrod")
  (SYNTAX-TYPE-ATTRIBUTE :FOREGROUND "forestgreen"))
 */
  --font-size: 12px;
  
  --mode-line-height: 16px;
  --padding-width: 2px 4px 2px 4px;
  --buffer-left: 5px solid #333333;
}

/* nest */


/* blobs */
* {
  color: var(--forground);
  font-size: var(--font-size);
  margin: 0; border:0; padding: 0;
}


form input, form button{
  border: 1px solid var(--syntax-string-attribute);
  background-color: var(--display-background-mode);
}


/* buffer */
body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

div.buffer > div {
  margin-bottom: var(--font-size);
}


/* region */
::selection{
  background-color: var(--region);
}

/* comments */
h1,h2,h3,h4,h5,h6{
  color: var(--syntax-comment-attribute);
}

h1::before{content: ";;;;";}
h2::before, h3::before{content: ";;;";}
h4::before, h5::before{content: ";;";}
h6::before{content: ";";}

/* defdefine */
a { 
  border: 1px;
}

a:link {
  color: var(--syntax-keyword-attribute);
}
a:visited {
  color: var(--syntax-function-name-attribute);
}
a:hover {
  /*text-decoration: underline;*/
  border: 1px solid var(--syntax-string-attribute);
}

#main {
  text-align: center;
}

/* cursor */



/* list-params */
li{
  border: 1px solid none;
}

ul:hover > li:hover{
  /* border: 1px solid var(--syntax-string-attribute);*/
}



/* layout */

html, body{
  height: 100%;
  width:100%;
  margin:0; padding:0; border:0;
  overflow: hidden;
  background-color: var(--display-background-mode);
}

div{
  margin:0; padding:0; border:0;
}

div#frame{
  height:100%;
  width:100%;
}

div#menubar{
  position: fixed;
  height: var(--mode-line-height);
  top: 0; left: 0; right: 0;
  background-color: var(--mode-line);
}

div#minibuffer{
  position: fixed;
  margin: 0;
  height: var(--mode-line-height);
  bottom: 0; left: 0; right: 0;
  background-color: var(--display-background-mode);
  border-left: var(--buffer-left);
}

div#window-list{
  height: 100%;
  width: 100%;
  padding-top: var(--mode-line-height);
  padding-bottom: var(--mode-line-height);
}

div.window{
  height: 100%;
  margin: 0;
}

div.buffer{
  border-left: var(--buffer-left);
  margin-bottom: var(--mode-line-height);
  /* */
  height: 100%;
  overflow-y: auto;
}

div.modeline{
  position: fixed;
  margin:0; padding:0;
  height: var(--mode-line-height);
  bottom: var(--mode-line-height);
  right: 0; left:0;
  background-color: var(--mode-line);
}
