{% extends "layouts/default.html" %}
{% block title %} {{ article-title }} -- V(■:V(■))∧V(∀V(■).Δ) :: ?:{% endblock %}
{% block content %}

<div id="article">
  <h1> {{ article.title }} </h1>
  
  <br />
  
  <div id="article_content">
    {{ article.contents }}
  </div>
  
  <div id="article_marked">  
  </div>

  <br />
  <ul>
    <li> article : <a href="/article/{{article.cosmic-link}}"> {{article.cosmic-link}} </a> </li>
    <li> carved by : <a href="/observer/{{article.observer.cosmic-link}}"> {{article.observer.name}} </a> </li>
    <li> carved in : {{article.updated-at-as-text}} </li>
    <li> parsing-types : {{article.tags}} </li>
  </ul>

  <!-- {{ article }} -->
  
  </div>
  
<script src="/js/marked.js"></script>
<script>
  function parse_markdown(){
  document.getElementById('article_marked').innerHTML =
  marked(document.getElementById('article_content').innerHTML);
  }
  parse_markdown();
  document.getElementById('article_content').style.display = "none";
</script>




{% endblock %}
