{% extends "layouts/default.html" %}
{% block title %} -- V(■:V(■))∧V(∀V(■).Δ) :: ?:{% endblock %}
{% block content %}

<h1>
  html tag test
</h1>

<!-- -->
<h3> h* </h3>
<h1> h1 </h1>
<h2> h2 </h2>
<h3> h3 </h3>
<h4> h4 </h4>
<h5> h5 </h5>
<h6> h6 </h6>

<!-- -->
<h3> links </h3>
<a href="/"> test for index </a>
<a href="disabled" style="pointer-events: none;">disable link </a>

<!-- -->
<h3> ul li ol </h3>
<ul>
  <li>first</li>
  <li>second</li>
  <li>third</li>
  <li><a href="#"> a-href </a> <li>
</ul>

<ol>
  <li>1つめの項目</li>
  <li>2つめの項目</li>
  <li>3つめの項目</li>
</ol>


{% endblock %}
