{% extends "layouts/default.html" %}
{% block title %} -- V(■:V(■))∧V(∀V(■).Δ) :: ?:{% endblock %}
{% block content %}
<div id="main">
  V(|:S:|) >>> ?: V(■:V(■)) ∧ V(∀V(■).Δ) -α1/2 δ- <br />
  超時空宇宙生命体探究室 α-δ版 :: hyper-cosmos A-space-life laboratory . ver alpha-beta
</div>



<div id="user_div">
  <h3> observers </h3>
  <ul>
    <li><a href="user"> .map (V(\.\ >>> \)) .../∃/... </a></li>
    <li><a href="user/edit-article"> ∃(V(V)) >-> ■ </a></li>
    <li><a href="user/user-config"> ?: ∃ </a></li>
    <li><a href="user/auth"> ?: ∃ === ∃ </a></li>
  </ul>
</div>

<div id="resonance_div">
  <h3> chaos resonace </h3>
  <form id="resonance">
    <input type="text" class="enter" value="" id="resonance_S_formula"/>
    <a href="#" onclick="apply_resonance()">
      .resonance
    </a>
    <script type="text/javascript">
      function apply_resonance(){
      window.location.href = "resonance?q=" + document.getElementById("resonance_S_formula").value;
      }
    </script>
  </form>
</div>

<div id="uploader_div">
  <h3> consecrate </h3>
  <ul>
    <li>
      <a href="/user/upmaterial"> ∃ ∈ V(∃)  </a>
    </li>
    <li>
      <form id="material">
        <input type="text" class="enter" value="" id="is_file_exists_name"/>
        <a href="#" onclick="is_file_exists()">  
          ?∈material
        </a>
        <script type="text/javascript">
          function is_file_exists(){
          window.location.href = "/material/" + document.getElementById("is_file_exists_name").value;
          }
        </script>
      </form>
    </li>
  </ul>
</div>


<div id="articles_div">
  <h3> events </h3>
  
  <ul class="recents-container">
    {% for art-head in article-heads %}
    <li>
      <span class="title"> {{ art-head.title }} </span>
      <span class="date"> {{ art-head.date }} </span>
      <br> </br>
      <span class="author"> {{ art-head.author }} </span>
      <span class="tags"> {{ art-head.tags }} </span>
      <p class="contents-head"> {{ art-head.contents-head }} </p>
    </li>
    {% endfor %}
    {% if not article-heads %}
    <li>articles not found</li>
    {% endif %}
  </ul>
</div>


{% endblock %}
