{% extends "layouts/default.html" %}
{% block title %} -- V(■:V(■))∧V(∀V(■).Δ) :: ?:{% endblock %}
{% block content %}


<h3> conway-print </h3>
<div id="conway_print" style="border:1px solid #ff0000; overflow:auto; resize:both;">
  <table id="conway_table">
    <tr>
      <td> starting </td>
    </tr>
  </table>
</div>



<div id="conway_params"> 
  <form>

    <h3> times </h3>
    <ul>
      <li> current: <input type="text" disabled="disabled" id="current_world" value="null" /> </li>
      <li> gene: <input type="text" disabled="disabled" id="generation" value="null" /> </li>
      <li> update / <input type="number" id="update_par_ms" value="100" min="10" />ms </li>
      <li> <button type="button" onclick="time_next();">  next </button> </li>
      <li> <button type="button" onclick="time_pass();">  passage </button> </li>
      <li> <button type="button" onclick="time_stop();">  stop </button> </li>
    </ul>

    <h3> params </h3>
    <ul> 
      <li> height : <input type="number" id="height" value="14" min="1"/> </li>
      <li> width : <input type="number" id="width" value="28" min="1" /> </li>
      <li> <button type="button" onclick="repl();">  repl </button> </li>
    </ul>
  </form>  
</div>
<script type="text/javascript" src="/js/life.js"></script>

{% endblock %}